<configuration packagingData="true">
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <contextName>${HOSTNAME}</contextName>

    <include resource="console-appender.xml" />
    <include resource="file-appender.xml" />

    <root level="INFO" additivity="false">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>

</configuration>